@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --color-primary: #000000;
  --color-primary-hover: #171717;
}

@variant dark (&:where(.dark, .dark *));

html, body {
	max-width: 100%;
	overflow-x: hidden;
	text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

/* Previne zoom no foco de inputs e selects em dispositivos móveis */
@media (max-width: 768px) {
	input, select, textarea {
		font-size: 16px !important;
	}
}

.theme-transition,
.theme-transition *,
.theme-transition *:before,
.theme-transition *:after {
	transition: background-color 0.2s ease, border-color 0.2s ease, text-decoration-color 0.2s ease, fill 0.2s ease, stroke 0.2s ease !important;
}
